html, body, #app {
  margin: 0;
  padding: 0;
}

#app {
  display: grid;
  grid-template-areas:
    "header header"
    "sidebar content"
    "footer footer";

  grid-template-columns: 250px 1fr;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
}